#search{
    padding: 20px;
    /* border: #e55812 1px solid; */
    box-shadow: #999 0px 0px 2px;
    border-radius: 15px;
}

#invite-div{
    margin-top: 20px;
}

/* styling for showrestList */
.restList-row{
    padding:0;
    margin:0;
}
.restList-row .control-row{
    padding:0;
    margin-top:10px;
}
.restList-row button.btn{
    font-size: 12px;
    margin:2px;
    padding: 5px;
}
.restList-row p{
    font-size: 12px;

}