.red{
    fill:#e55812;
    background:#e55812;
}
.yellow{
    fill:#efe7da;
    background:#efe7da;
}
.blue{
    fill:#0e4749;
    background:#0e4749;
}
.green{
    fill:#95c623;
    background:#95c623;
}
.st4{fill:#002626;}
.st5{fill:none;stroke:#002626;stroke-width:4.4928;stroke-miterlimit:10;}
.st6{
    font-family:"museo-sans-rounded", sans-serif;
    font-weight: 600;
}
.flwrs{
    opacity:0.92;
    fill:#e55812;
}
.rest-line{
    fill:none;stroke:#95C623;stroke-width:19;stroke-miterlimit:10;
}
.st7{font-size:74.6628px;}

*{
 box-sizing: border-box;
 font-family: "museo-sans-rounded", sans-serif;
}
.mycontainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;  
}
#content{
    flex: 1 0 auto;
    height: fit-content;
    min-height: 70vh;
    padding-bottom: 40px;
}
.footer{
    flex-shrink: 0;
    z-index: -1;
    margin-top: -30vh;
}
#bg-img{
    width: 100%;
}
body{
    background: white;
}
.alert p{
    font-size: 10px;
    padding: 0;
}
.alert{
    padding: 0;
    margin:0;
}
p.normal{
    color: black;
}
p.success{
    color: #69B578;
}
p.fail{
    color: #F46036;
}

#home{
    padding: 0 10%;
}

#home .col1{
    display: inline-block;
    width: 65%;
}
#home .col2{
    display: inline-block;
    z-index: 1000;
    width: 35%;
}

.col1 #svgDiv{
    padding-top: 12%;
    margin: 0 -10%;
}
.col2 .intro{
    background: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin-top: 37%;
    padding: 10px;
    /* width:100%; */
    text-align: left;
    margin-right: -20%;
    margin-left: 20%;
    border-radius: 5px;
}

.intro h1{
    font-weight: 1000;
    font-size: 50px;
    margin-top: 20px;
    font-family: "museo-sans-rounded", sans-serif;
    line-height: 0.88em;
    color: #002626;
    width: 120%;
    hyphens: auto;
}
h1 span{
    font-size: 80px;
    line-height: 1.2em;
    /* font-family: "fatfrank"; */
    font-weight: 900;
}
.intro p{
    font-size: 14px;
    margin-top:40px;
}
.intro .logoDiv{
    width: 60%;
}
.loginDiv{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: #aaa 0 0 2px;
    border-radius: 10px;
    width: 240px;
    right:20%;
    z-index: 10001
}
.loginDiv form{
    padding: 20px;
}

.invisible{
    display: none;
}


@media only screen and (max-width: 1000px){

    #home{
        /* background: red; */
        padding: 0 2%;
        margin:0;
    }
}


@media only screen and (max-width: 800px){
   .footer{
       /* display: none; */
   }

   .mycontainer{
       overflow: hidden;       
   }
   #content{
    padding-bottom: 40px;
   }
    #home .col2, #home .col1{
        width: 100%;
    }
    .col2 .intro{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10%;
    }
    .intro h1{
        width: 100%;
    }
    .col1 #svgDiv{
        padding-top: 0px;
    }

}

